# Python кэш (те самые .pyc файлы)
__pycache__/
*.pyc

# Настройки VS Code
.vscode/

# Git
.git/*

# logs
*.log

# config
config.json

#solutions and migrations
Solutions/*
Migrations/*

# Если используете виртуальное окружение, тоже скроем его
venv/
.venv/
env/