# Скрыть все HTML файлы
*.html linguist-vendored

# Скрыть содержимое папки с шаблонами/кодом (например, Code)
Code/* linguist-vendored

# Скрыть всю статику (JS, CSS и т.д.)
static/** linguist-vendored

# Если есть папка с шаблонами Flask/Django
templates/** linguist-vendored

# Скрываем стили (они портят статистику больше всего)
*.css linguist-vendored
static/css/* linguist-vendored

# Скрываем шаблоны C++, которые попали в статистику
*.cpp linguist-vendored
*.hpp linguist-vendored
