{% extends "base.html" %}
{% block title %}Options{% endblock %}

{% block content %}

<!--
{
    "SOLUTION_DIR" : "Solutions",
    "APP_NAME" : "Spark",
    "SRC_DIR" : "_src_", 
    "CONFIG_FILE" : "config.json",
    "MIGRATION_DIR" : "Migrations",
    "CODE_TEMPLATE_DIR" : "Code/.templates/",
    "DEBUG_MODE" : true,

    "LOG" : {
        "LEVEL" : "INFO",
        "FILE" : "app.log"
    },

    "AUTHOR" : {
        "NAME" : "SomeUser",
        "AVATAR" : "../static/avatars/avatar.png",
        "GITHUB" : "https://github.com/",
        "LANGUAGE" : "en",
        "EMAIL" : "",
        "LINKS" : []
    },

    "START_OPTIONS" : {
        "open_in_browser" : false,
        "check_open_in_browser" : true,
        "port" : 5000,
        "host" : "127.0.0.1"
    },

    "IDE" : {
        "open_in_ide" : true,
        "open_in_ide_cmd" : true,
        "name" : "Visual Studio Code",
        "path" : "",
        "cmd" : {
            "open" : "code"
        }
    },

    "MIGRATION" : {
        "Name": "",
        "Description": "",
        "Configuration": {
            "language": "No selected",
            "version": "1.0",
            "author": ""
        }
    }
}
-->

<form action="config">
    <div class="card">
        <h2>GLOBAL</h2>
        <div>
            <label class="label">SOLUTION_DIR</label>
            <input class="input" type="text" name="SOLUTION_DIR" placeholder=""
            value="{{ request.form.get('SOLUTION_DIR', '') }}">
        </div>

        <div>
            <label class="label">APP_NAME</label>
            <input class="input" type="text" name="SOLUTION_DIR" placeholder=" "
            value="{{ request.form.get('SOLUTION_DIR', '') }}">
        </div>

        <div>
            <label class="label">SRC_DIR</label>
            <input class="input" type="text" name="SOLUTION_DIR" placeholder=" "
            value="{{ request.form.get('SOLUTION_DIR', '') }}">
        </div>

        <div>
            <label class="label">CONFIG_FILE</label>
            <input class="input" type="text" name="SOLUTION_DIR" placeholder=" "
            value="{{ request.form.get('SOLUTION_DIR', '') }}">
        </div>

        <div>
            <label class="label">MIGRATION_DIR</label>
            <input class="input" type="text" name="SOLUTION_DIR" placeholder=" "
            value="{{ request.form.get('SOLUTION_DIR', '') }}">
        </div>

        <div>
            <label class="label">CODE_TEMPLATE_DIR</label>
            <input class="input" type="text" name="SOLUTION_DIR" placeholder=" "
            value="{{ request.form.get('SOLUTION_DIR', '') }}">
        </div>

        <div>
            <label class="label">DEBUG_MODE</label>
            <input class="input" type="text" name="SOLUTION_DIR" placeholder=" "
            value="{{ request.form.get('SOLUTION_DIR', '') }}">
        </div>
    </div>
</form>

{% endblock %}